.todo-list-template {
    background-color: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    margin-top: 4rem;
}
.title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background-color: #22b8cf;
    color: white;
}
.palette-wrapper {
    padding: 1rem;
    background-color: rgba(234,234,234,1);
}
.form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #22b8cf;
}
.todos-wrapper {
    min-height: 5rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .todo-list-template {
      width:600px;
    }
}

@media screen and (min-width: 568px) and (max-width: 768px) {
    .todo-list-template {
      width:400px;
    }
}

@media screen and (max-width: 568px) {
    .todo-list-template {
      width:300px;
    }
}